.task-row {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  margin: 0.2rem;
  border-bottom: 1px solid #ccc;
}

.task-row .task-text {
  flex: 1;
  margin-left: 1rem;
  text-align: left;
  font-size: 1.3rem;
}

.delete-btn {
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.completed .task-text {
  text-decoration: line-through;
  color: #999;
}

.task-row:hover {
  background-color: #ddd;
  cursor: pointer;
}

.task-row.completed {
  background-color: #eee;
}

.task-row input {
  transform: scale(1.5);
}
